.footer {
   background: #402d2d center center / cover;
}

.footer_item {
   max-width: 83%;
   margin: 0 auto;
   padding-top: 50px;
   padding-bottom: 20px;
}

.footer__logo {
   width: 319.15px;
   height: 70px;
}

.footer__tel {
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 25px;
}

.footer__time {
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 25px;
}

.footer__copywrite {
   text-align: center;
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
}
